.card-height-adjusted {
    height: 320px; 
}

.card-height-adjusted-personal {
    min-height: 720px; 
}

.container {
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

.w14 {
    width: 25%;
}

.sticky {
    position: sticky;
    top: 0;
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 50px; /* Width of the collapsed sidebar */
    position: fixed;
    z-index: 2; /* Ensure sidebar is above the dimmed content */
    top: 0;
    left: 0;
    background-color: red; /* Set the background color for the sidebar */
    overflow-x: hidden;
    padding-top: 60px;
    transition: width ease, background-color ease; /* Combine transition properties */
}
  /* Sidebar menu styles */
  
.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.sidebar-menu li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    display: none; /* Hide text by default */
    z-index: 2; /* Above the dimmed body */
}
  
.sidebar-menu li a:hover {
    color: #c4c4c4;
}

.sidebar.sidebar-expanded .sidebar-menu li a {
    display: block; /* Show text when sidebar is expanded */
}

body.sidebar-expanded::before {
    content: "";
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dimming effect */
    z-index: 2; /* Below the sidebar, above the content */
    pointer-events: none; /* Allows clicks to pass through */
}
  
  /* Hamburger Icon */
.hamburger {
    position: absolute;
    left: 50%;
    top: 16px; /* Adjust as necessary to position from the top */
    transform: translateX(-50%); /* Center the element in the middle of the sidebar */
    cursor: pointer;
    color: #fff; /* Change the color if you want */
    font-size: 30px;
    z-index: 4; /* Above the dimmed body and sidebar */
    z-index: 5; /* Ensure it's above everything else */
    transition: top 0.5s; /* Animate the change in position */
}
  
/* Adjust position when sidebar is expanded */
.sidebar.sidebar-expanded .hamburger {
    top: 16px; 
    left: 17%;
}

  /* Page content */
#main-content {
    transition: margin-left 0.5s, background-color 0.5s; /* Add background-color transition */
}
  
  /* When the sidebar is expanded, add a margin to the page content */
#main-content.sidebar-expanded {
    margin-left: 200px;
}

.sidebar.sidebar-expanded { /* Make sure this is as specific as the .sidebar selector */
    width: 250px;
    background-color: red; /* Keep the background color red for consistency */
    z-index: 3; /* Above the dimmed body */
}

.sidebar-expanded .sidebar-menu li a {
    display: block;
}

#page-container {
    transition: background-color 0.5s, pointer-events 0.5s; /* Smooth transition for background color and pointer-events */
}

.sidebar .logo_name,
.sidebar .nav-list .links_name {
  display: none;
}

.sidebar.open .logo_name,
.sidebar.open .nav-list .links_name {
  display: block;
}

/* Main Content Styles */
#main-content {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Full height minus sidebar top padding */
    margin-left: 50px; /* Adjust based on sidebar width */
}
  
/* Video Container Styles */
#video-container {
    flex-grow: 3;
}

#video-player {
    width: 100%;
    height: 65%;
    background-color: #000000;
    /* Given height or make it responsive based on the aspect ratio */
}
  
  /* Chat Container Styles */
#chat-container {
    flex-grow: 1;
    border-left: 1px solid #000; /* Separates chat from video */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
  
#chat-messages {
    overflow-y: auto;
    height: 90%;
    background-color: white;
}
  
#chat-input {
    border-top: 1px solid #000;
    background-color: white;
}
  
#chat-input input {
    width: 100%;
    padding: 10px;
}

#chat-input input:focus {
    border: 0px solid #ff0000; /* Change the border color to red on focus */
    outline: none; /* Remove the default outline to only show the red border */
}

.stream-info{
    font-size: 24px;
    padding-top: 5px;
    padding-left: 10px;
}

#video-controls {
    position: relative;
    margin-top: 10px;
}
  
#play-pause-btn {
    margin-right: 10px; /* Add space between the button and progress bar */
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
}

#play-pause-btn:hover{
    color: #ff0000;
}

#progress-bar-container {
    display: flex; /* Use flexbox to align the button and progress bar */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width to contain both elements */
    padding: 10px; /* Padding inside the container */
}
  
#progress-bar {
    height: 5px; /* Adjust height to your preference */
    background-color: #ffffff; /* Example color */
    border-radius: 10px; /* Makes it pill-shaped */
    flex-grow: 1; /* Allow the progress bar to fill the remaining space */
}

#video-player {
    position: relative; /* This is important for absolute positioning of children */
    width: 100%;
    height: 65%;
    background-color: #000000; /* Dark red background as in your screenshot */
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
}

/* New wrapper for video controls to position them at the bottom */
.video-controls-wrapper {
    position: absolute;
    bottom: 0; /* Align to the bottom of the video player container */
    width: 100%; /* Match the width of the video player container */
    padding: 10px 0; /* Add some padding around the controls */
}

#play-pause-btn.play {
    font-size: 19px; /* Size for the play symbol */
}

#play-pause-btn.pause {
    font-size: 19px; /* Smaller size for the pause symbol */
}

#full-screen{
    color: #ffffff;
    margin-left: 10px;
    font-size: 21px;
}

/* Fullscreen styles */
.fullscreen-video {
    width: 100vw !important;
    height: 100vh !important;
    max-width: none !important;
    max-height: none !important;
    background-color: #000000; /* Maintain the background color */
    /* Remove any padding or margin that might affect the fullscreen view */
    padding: 0 !important;
    margin: 0 !important;
}

/* Hide the stream info when in fullscreen */
.fullscreen-video .stream-info {
    display: none;
}

/* Adjust the controls wrapper to be at the bottom of the fullscreen video */
.fullscreen-video .video-controls-wrapper {
    position: fixed; /* Position fixed to the viewport */
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0; /* Adjust padding as needed */
}

/* Ensure progress bar is full width */
.fullscreen-video #progress-bar-container {
    width: calc(100% - 20px); /* Adjust the width based on your padding */
}

.chat-input-wrapper {
    position: relative;
    border: 1px solid #ffffff;
}

#chat-message-input {
    width: calc(100% - 40px); /* Adjust width to make room for the send button */
    border: none;
    outline: none;
}

.send-message-btn {
    position: absolute;
    right: 5px;
    top: 17%;
    border: none;
    background: none;
    cursor: pointer;
    color: #000000;
    font-size: 24px;
    outline: none;
}

.send-message-btn:hover{
    color: #ff0000;
}

#video-info-text {
    position: absolute; /* Position it over the video player */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children horizontally in the main axis */
    align-items: center; /* Center children vertically in the cross axis */
}

#bigger-info-text {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center; /* Center the text within its container */
}

#smaller-info-text {
    color: #fff;
    text-align: center; /* Center the text within its container */
}

#full-screen:hover{
    color: #ff0000;
}

#chat-messages {
    overflow-y: auto;
    height: 90%;
    padding: 10px; /* Add padding for space around messages */
    background-color: white;
}

.chat-message {
    margin-bottom: 5px; /* Space between messages */
}

.chat-message strong {
    font-weight: bold;
    color: #ff0000;
}
